{% extends "plots/base.html" %}

{% block content %}

<div class="card-panel hoverable">
  <div class="row">
    <form action="{% url 'plots:Home' %}" method="POST" class="col s7">
      <h4> Ingrese los vectores para (X, Y)</h4>
      {% csrf_token %}
      {% for field in form %}
      <div class="input-field col s12">
        {{ field }}
        <label for="{{ field.name }}" class="active">{{ field.label }}</label>
      </div>
      {% endfor %}
      <div class="col s12">
        <button type="submit" class="btn waves-effect waves-light light-blue accent-4">Enviar<i
            class="material-icons right">send</i></button>
      </div>
    </form>
    {% if plot_div %}
    <div class="col s5">
      {% autoescape off %}
      {{plot_div}}
      {% endautoescape %}
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}