{% extends 'plots/base.html' %}

{% block cssContent %}
{% endblock cssContent %}

{% block content %}

<div class="row">
  <div class="col s8 offset-s2">
    <div class="card-panel hoverable ">
      <div class="row">
        <div class="col s5 center">
          <img src="{{MEDIA_URL}}{{perfil.avatar}}" />
          <a href="{% url 'plots:edit_profile' %}" class="btn waves-effect waves-light light-blue accent-4">Editar perfil</a>
          <p>Usuario: {{perfil.user.username}}</p>
        </div>
        <div class="col s7">
          <p>Nombre: {{perfil.user.first_name}}{{perfil.user.last_name}}</p>
          <p>Genero: {{perfil.gender}}</p>
          <p>Localizacion: {{perfil.location}}</p>
          <p>Informacion: {{perfil.information}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}