{% extends "plots/base.html" %}

{% block cssContent %}
<link href="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.css" rel="stylesheet" type="text/css">
<style>
  .input-field label {
    pointer-events: all !important;
    margin-top: -10px !important;
  }
</style>
{% endblock cssContent %}

{% block content %}
<div class="card-panel hoverable">
  <div class="row">
    
    <div class="col s12 m12 l6">
      <form id="id_formaPlots">
        <h5 style="margin-bottom: 40px;" class="center"> Ingrese los vectores para (X, Y)</h5>
        {% for field in form %}
        <div class="input-field">
          {{ field }}
          <label for="{{ field.name }}" class="active">{{ field.label }}</label>
        </div>
        {% endfor %}
        <button id="graficar" type="submit" class="btn waves-effect waves-light light-blue accent-4"
          style="margin-bottom: 20px">Enviar<i class="material-icons right">send</i></button>
      </form>
    </div>
    
    <div id="plot-content" class="col s12 m12 l6">
      {% autoescape off %}
      {{div_bok}}
      {{script_bok}}
      {% endautoescape %}
    </div>
  
  </div>
</div>
{% endblock content %}

{% block scriptsContent %}
<script src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"></script>
<script src="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#id_formaPlots').submit(function (e) {
      e.preventDefault()
      $.ajax({
        url: "{% url 'plots:update_data'%}",
        type: 'post',
        data: {
          'csrfmiddlewaretoken': "{{ csrf_token }}",
          'x_points': $("#id_x_points").val(),
          'y_points': $("#id_y_points").val()
        },
        success: function (data) {
          $('#plot-content').html(data)
        }
      })
    });
  });
</script>
{% endblock scriptsContent %}