{% extends 'plots/base.html' %}

{% block cssContent %}
{% endblock cssContent %}

{% block content %}

<div class="row">
  <div class="card-panel hoverable col s12 m10 l6 offset-m1 offset-l3">
    <form action="{% url 'plots:user_login' %}" method="POST" class="col s12">
      <input type="hidden" name="next"
        value="{% if request.POST.next %}{{ request.POST.next }}{% else %}{{ request.GET.next }}{% endif %}" />

      <div class="col s12 center" style="margin-bottom: 10px;">
        <h5> Ingresar </h5>
      </div>

      {% csrf_token %}
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_identity</i>
        <label for="{{ form.username.auto_id }}" class="active">{{ form.username.label }}</label>
        {{ form.username }}
        {% if form.username.errors %}
        <ul>
          {% for error in form.username.errors %}
          <li><span class="red-text text-darken-1">{{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_open</i>
        <label for="{{ form.password.auto_id }}" class="active">{{ form.password.label }}</label>
        {{ form.password }}
        {% if form.password.errors %}
        <ul>
          {% for error in form.password.errors %}
          <li><span class="red-text text-darken-1">{{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% if form.non_field_errors  %}
      <div class="col s12">
        <ul class="invalido" style="display: block">
          <li><span><i class="material-icons left">cancel</i> {{ form.non_field_errors }}</span></li>
        </ul>
      </div>
      {% endif %}

      <div class="col s12 right-align" style="margin-bottom: 20px">
        <button type="submit" class="btn waves-effect waves-light light-blue accent-4">Acceder<i
            class="material-icons right">check</i></button>
      </div>

    </form>
  </div>
</div>

{% endblock %}