/* separacion iconos particular */
.icon-separation {
  margin-left: 3px;
}

/* separacion iconos particular */
.icon-separation2 {
  margin-right: 0px;
  margin-left: 8px;
}

.input-field span.valido {
  display: none;
  position: static;
  color: #0091ea !important;
  padding: 15px;
  margin-top: 0px;
  margin-left: 45px;
  border: solid #0091ea 1px;
  border-radius: 3px;
}

.input-field span.invalido {
  display: none;
  position: static;
  color: #e53935 !important;
  padding: 15px;
  margin-top: 0px;
  margin-left: 45px;
  border: solid #e53935 1px;
  border-radius: 3px;
}

.input-field ul li span.invalido {
  display: none;
  position: static;
  color: #e53935 !important;
  padding: 15px;
  margin-top: 0px;
  margin-left: 45px;
  border: solid #e53935 1px;
  border-radius: 3px;
}

.col ul.invalido {
  display: none;
  position: static;
  color: #e53935 !important;
  padding: 15px;
  margin-top: 0px;
  margin-left: 45px;
  border: solid #e53935 1px;
  border-radius: 3px;
}

/* indicador del carousel color */
.carousel .indicators .indicator-item {
  background-color: rgba(0, 0, 0, 0.5);
}

/* indicador activo del carousel color */
.carousel .indicators .indicator-item.active {
  background-color: black;
}

/* label color */
.input-field label {
  pointer-events: all !important;
  color: #000;
}

/* label focus color */
.input-field input:focus+label {
  color: #0091ea !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #0091ea !important;
  box-shadow: 0 1px 0 0 #0091ea !important;
}

/* label focus color */
.input-field textarea:focus+label {
  color: #0091ea !important;
}

/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid #0091ea !important;
  box-shadow: 0 1px 0 0 #0091ea !important;
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #0091ea !important;
  box-shadow: 0 1px 0 0 #0091ea !important;
}

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #e53935 !important;
  box-shadow: 0 1px 0 0 #e53935 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #1976d2;
}

.material-icons {
  vertical-align: -5px !important;
}

.dropdown-content.select-dropdown li:not(.disabled) span {
  color: #1976d2;
}
